In [4]:
print("hello world")

hello world

In [5]:
23

23

In [6]:
print('raju')

raju

In [7]:
print(1,2,3)

1 2 3

In [ ]:
print('bramhmastra',2022)

bramhmastra 2022

In [ ]:
print('This is a line')
print('Another line')
print('and the final text line')

This is a line
Another line
and the final text line

In [ ]:
a= 10
print(a)

10

In [ ]:
b= 20
c= 50
print(b,c)

20 50

In [19]:
city = 'lucknow'
state = 'uttar pradesh'
name = 'adam'
name = 'randolf'

In [2]:
n1 ,n2 = 'jay', 'vijay'

In [3]:
food= input()
print(food)

2

variable type

In [4]:
a = 'apple'
type(a)

str

In [ ]:
a = 101
type(a)

int

In [6]:
a = "300"
print(a,type(a))
b = int(a)
a = int(a) 
print(b,type(b))
print(a,type(a))

300 <class 'str'>
300 <class 'int'>
300 <class 'int'>

In [7]:
num1= int(input("enter num1"))
num2= int(input("enter num2"))
ans= num1*num2
print(ans)

800

In [2]:
a = input("enter A=")
b = input("enter B=")
print(type(a),type(b))
a= int(a)
b= int(b)
print(a+b)

<class 'str'> <class 'str'>
7

In [28]:
a= input("enter A=")
b= input("enter B=")
print(type(a),)

<class 'str'>

### operaters

In [4]:
x = 10
y = 3
x + y

13

In [9]:
x-y

7

In [10]:
x*y

30

float division

In [13]:
x/y

3.3333333333333335

integer division

In [14]:
x//y

3

remainder

In [15]:
x%y

1

exponentiation

In [5]:
x**y

1000

assignment operator

In [8]:
x=10

In [9]:
x+=5

In [12]:
x-=10

In [20]:
x*=3

comparison
<(less),>(greator),<=(less&equal),>=(greator&equal),==,!=

In [13]:
x>10

False

In [24]:
y<3

False

In [25]:
'apple'=='Apple'

False

logical
and,or,not

In [27]:
x>5 and x>100

False

In [30]:
x>5 or x>1

True

In [29]:
not x > 100

True

Instance(use on data structure)
((use to check the memory))

In [33]:
x is y

False

In [34]:
x is not y

True

membership(In)

In [1]:
a= [1,3,8,10,2]

In [36]:
2 in a

True

In [3]:
15 in a

False

Formatted
string & msg

In [2]:
l = 10.5
b = 6.10
area = l*b
print(area)

64.05

In [14]:
print(l, b, area)

10.5 6.1 64.05

version3.O

In [31]:
print ("{}*{}".format(l,b,area))

10.5*6.1

shortcut

In [3]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [8]:
print(f'{l}*{b}= {area:1f}')

10.5*6.1= 64.050000

In [9]:
print(f' {l}*{b} = {area:3f}')

 10.5*6.1 = 64.050000