In [1]:
emp = ['Amar', 'deep', 'finance',2300,10000,3000,31, True, False,'Acme']

In [2]:
emp_dict = {
    'fname':'Amar',
    'lame':'deep',
    'dept':'finance',
    'age':31,
    'salary':10000,
    'bonus':30000,
    'is_manager':True,
    'is_executive':False,
    'company':'Acme'}

In [3]:
print(emp_dict)

{'fname': 'Amar', 'lame': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme'}

In [4]:
weather_data={
    'data':'2019-01-01',
    'temp':32,
    'details': {
        'humidity':80,
        'wind': 10,
        'pressure': 30,
        'aqi': 120
    },
    'city':'Lucknow',
    'type':'sunshine',
    'icon': 'o'
    
}

### accessing data from key

In [5]:
list(weather_data.keys())

['data', 'temp', 'details', 'city', 'type', 'icon']

In [6]:
weather_data.values()

dict_values(['2019-01-01', 32, {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'Lucknow', 'sunshine', 'o'])

In [7]:
emp_dict.keys()

dict_keys(['fname', 'lame', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'company'])

In [8]:
weather_data['temp']

32

In [9]:
weather_data['details']

{'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

### key error

In [10]:
weather_data['location']

KeyError: 'location'

In [ ]:
weather_data.get('temp')

32

In [ ]:
weather_data.get('location')

In [ ]:
weather_data.get('city','notfound')

'Lucknow'

In [ ]:
weather_data.get('location','notfound')

'notfound'

### loping over a dictinary

In [ ]:
### loping over a dictinary
for k in emp_dict:
    print(k,'=>', emp_dict[k])

fname => Amar
lame => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => Acme

In [ ]:
for k in x:
    print(k,'=>', x[k])

name => manisha
course => MBA
subject => finance
session => 2022

In [11]:
# looping over a dictionary using item()
for k,v in emp_dict.items():
    print(k, '=>',v)

fname => Amar
lame => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => Acme

In [ ]:
emp_dict.items()

dict_items([('fname', 'Amar'), ('lame', 'deep'), ('dept', 'finance'), ('age', 31), ('salary', 10000), ('bonus', 30000), ('is_manager', True), ('is_executive', False), ('company', 'Acme')])

In [ ]:
# updating an entry in dictionary
weather_data['temp'] = 35

In [ ]:
weather_data

{'data': '2019-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'Lucknow',
 'type': 'sunshine',
 'icon': 'o'}

In [ ]:
reports= {
    '001': {
        'name' : 'Amar',
        'subjects': {'English':80, 'Marths':80,'Science':95}
        
        
     },
'002':{
    'name':'Vijay',
    'subjects':{'English':70, 'Maths':60,'Science':85}
    
},
'003':{
    'name':'Raj',
    'subjects':{'English':60,'Maths':50,'Science':45}

},
}

In [ ]:
for roll, data in reports.items():
    print(roll)
    for key,val in data.items():
        print(key)

001
name
subjects
002
name
subjects
003
name
subjects

In [ ]:
for roll, data in reports.items():
    print(roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):
            for sub, marks in val.items():
                print(sub,marks)
        else:
            print(val)
        print('---'*10)

001
name
Amar
------------------------------
subjects
English 80
Marths 80
Science 95
------------------------------
002
name
Vijay
------------------------------
subjects
English 70
Maths 60
Science 85
------------------------------
003
name
Raj
------------------------------
subjects
English 60
Maths 50
Science 45
------------------------------

In [ ]:
for roll, data in reports.items():
    print("Roll No.",roll)
    for key, val in data.items():
        if isinstance(val, dict):
            print(key)
            total=0
            for sub, marks in val.items():
                print(sub,marks)
                total +=marks
            print(f'Total :{total}/300')
        else:
            print(key, val)
        print('---'*10)

Roll No. 001
name Amar
------------------------------
subjects
English 80
Marths 80
Science 95
Total :255/300
------------------------------
Roll No. 002
name Vijay
------------------------------
subjects
English 70
Maths 60
Science 85
Total :215/300
------------------------------
Roll No. 003
name Raj
------------------------------
subjects
English 60
Maths 50
Science 45
Total :155/300
------------------------------

In [ ]:
for roll, data in reports.items():
    print("Roll NO.",roll)
    for key, val in data.items():
        if isinstance(val, dict):
            print(key)
            total=0
            for sub, marks in val.items():
                print(sub,marks)
                total += marks
            print(f'Total : {total}/300')
            print(f'Average:{total/3:2f}')
        else:
            print(key,val)
        print('---'*10)

Roll NO. 001
name Amar
------------------------------
subjects
English 80
Marths 80
Science 95
Total : 255/300
Average:85.000000
------------------------------
Roll NO. 002
name Vijay
------------------------------
subjects
English 70
Maths 60
Science 85
Total : 215/300
Average:71.666667
------------------------------
Roll NO. 003
name Raj
------------------------------
subjects
English 60
Maths 50
Science 45
Total : 155/300
Average:51.666667
------------------------------

## File handling
- open a file reading a file writing a file appending a file

In [ ]:
f = open('si.py')
print(f.read())

p=float(input("enter principal amount"))
r=float(input("enter the rate of interest"))
t=int(input("enter the time"))
si=float(p*r*t/100)
print(si)

In [12]:
f = open (r'C:\Users\prem3\OneDrive\Desktop\wasi\.vscode\_2darray1.c')
content = f.read()
print(f'{len(content)}characters')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\prem3\\OneDrive\\Desktop\\wasi\\.vscode\\_2darray1.c'

In [ ]:
data = 'hi everyone, this is a sample file'
with open ('mydata.text','w') as file:
    file.write(data)

#### file = open ('mydata.test', 'w')
#### file.write(data)
#### file.close

In [ ]:
data = '\nthis is the new data the is going to written'
with open ('mydata.text','a') as file:
    file.write(data)

In [13]:
file = 'bio.text'
content = ''
while True:
    line = input ('Enter a line (or q to quit):')
    if line=='q':
        break
    content +=line + '\n'
    
with open(file, 'w') as f:
    f.write(content)
    print(f'File{file}saved')

Filebio.textsaved