In [1]:
colors= ['red', 'pink', 'purple']
for val in colors:
    print(f'We got {val}')

We got red
We got pink
We got purple

#### traversal

In [2]:
x= [0, 2, 1, 3,6,10]
for i in x:
    print(i)

0
2
1
3
6
10

In [2]:
x= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [1]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [3]:
for i in range(1,31):
    print(i,end=" / ")

1 / 2 / 3 / 4 / 5 / 6 / 7 / 8 / 9 / 10 / 11 / 12 / 13 / 14 / 15 / 16 / 17 / 18 / 19 / 20 / 21 / 22 / 23 / 24 / 25 / 26 / 27 / 28 / 29 / 30 /

In [13]:
for i in range(1,11):
    print(f'2 x {i} = {2 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
for i in range(1,11):
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [6]:
for i in range(1,11):
    print(f'4 x {i} = {4 * i}')

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [7]:
for i in range(1,11):
    print(f'5 x {i} = {5 * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

```
range(10)       |0-9
range(5,10)     |5-9
range(1,10,2)   |1,3,5,7,9
range(10,0,-1)  |10,9,7,6,5,4,3,2,1

In [6]:
for i in range(1, 100, 5):
    print(i,end=' ')

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [8]:
# reverse loop
for i in range(10, 0, -1): 
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [6]:
veg = ['potato', 'tomato','onion','cabbage','carrat']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrat

In [11]:
for item in enumerate(veg):
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrat')

In [13]:
veg = ['cat', 'dog', 'elephant', 'lion']    
for item in veg:
    print(item)

cat
dog
elephant
lion

In [16]:
for index,  value in enumerate(veg):
    print(index, value)

0 cat
1 dog
2 elephant
3 lion

In [12]:
for index, value in enumerate(veg):
    print(index, value)

0 potato
1 tomato
2 onion
3 cabbage
4 carrat

zip

In [13]:
veg= ['potato','tomato','onion','cabbage','carrot']
prices= [35, 80, 30, 15, 30]

In [15]:
# non-pythonic way
for i in range(len(veg)):
    print(f'{veg[i]}--------{prices[i]}')

potato--------35
tomato--------80
onion--------30
cabbage--------15
carrot--------30

In [16]:
# pythonic
for v,p in zip(veg,prices):
    print(f'{v}-----{p}')

potato-----35
tomato-----80
onion-----30
cabbage-----15
carrot-----30

#wap to print the following list using zip
- list contains movie title
- list2 contain maovie rating
- list3 conatin movie year
- list4 conain movie director

In [7]:
title=  ['3-idiot', 'ms dhoni',' piku','darr']
rating= ['4','3','4','5']
year =  ['2009','2016', '2015','1993']
director=   ['raj kumar', 'neeraj pandey', 'shoojit sircar', 'yash chopra']

In [8]:
for t, r, y, d in zip(title, rating, year, director):
    print(f'{t}----{r}----{y}----{d}')

3-idiot----4----2009----raj kumar
ms dhoni----3----2016----neeraj pandey
 piku----4----2015----shoojit sircar
darr----5----1993----yash chopra

NESTED LOOP

In [15]:
for i in range(10):
    for i in range(10):
        print(i, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

break and continue

for-else

In [16]:
x= [1, 2, 0, 3, 4, 0, 0, 5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [17]:
for i in x:
    if i != 0:
        print(i)

1
2
3
4
5

In [18]:
num = 1231
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else: # else block will execute only if the for loop is not broken
    print('prime')

prime

In [20]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2, num):
        if num % i == 0:
            break
    else:
            print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [33]:
for i in range(5):
    print(i)
else:
    print('done')

0
1
2
3
4
done

while loop

In [34]:
x = 10
while x > 0:
    x -= 2
    print(x)

8
6
4
2
0

only end with 0

In [37]:
total = 0
while True:
    num = int(input('enter a number:'))
    if num == 0:
        break
    total+=num
    print(f'Total is {total}')

In [1]:
books = []
while True:
    name = input("enter book name")
    if name is not None:
        books.append(name)
    else:
        break
print("these are your books")
print(books)