In [2]:
name = 'William Shakespeare'
print(len(name))

19

string sling

In [3]:
for idx, char in enumerate(name):
     print(idx, char)

0 W
1 i
2 l
3 l
4 i
5 a
6 m
7
8 S
9 h
10 a
11 k
12 e
13 s
14 p
15 e
16 a
17 r
18 e

In [4]:
print(name[8:13])

Shake

In [4]:
print(name[::-1])

eraepsekahS mailliW

In [ ]:
print

In [5]:
print(name[-5:-1])

pear

In [23]:
print(name[0:8])

 William

In [10]:
print(name[:8])

 William

In [15]:
print(name[:19])

 William Shakespear

var[start:stop:step]

In [6]:
# all the even indexed characters of string
print(name[::2])

WlimSaepae

In [7]:
# odd indexed characters
print(name[1::2])

ila hkser

In [8]:
# reverse the string 
print(name[::-1])

eraepsekahS mailliW

In [34]:
print(name[::-2])

eapeaSmilW

In [9]:
print(name[2:-2])

lliam Shakespea

In [10]:
print(name[2:18])

lliam Shakespear

In [41]:
print(name[:-3])

William Shakespe

In [43]:
word = 'Racecar'
print(word[:-3])

Race

In [44]:
chr(59)

';'

In [45]:
chr(29301)

'ç‰µ'

In [47]:
#for i in range (10000, 13000):
    #print(chr(i), end=' ')
#show all the characters

concatenation

In [50]:
a = 'apple'
b = 'juice'
ab = a + b
print(a + b)

applejuice

In [53]:
w1 = 'this'
w2 = 'is'
w3 = 'amazing'
msg = w1 +' '+ w2 +' '+ w3
print(msg)

this is amazing

In [54]:
msg = w1 + w2 + w3 
print(msg)

thisisamazing

duplication

In [11]:
word = 'Hi '
print(word * 3)

Hi Hi Hi

In [12]:
print('-' * 100)

----------------------------------------------------------------------------------------------------

In [13]:
print('-x-' * 10)
print("Journey Befor Destiation".center(30))
print('-x-' * 10)

-x--x--x--x--x--x--x--x--x--x-
   Journey Befor Destiation
-x--x--x--x--x--x--x--x--x--x-

pattern printing

In [16]:
for i in range(1, 6):
    print(i * ' * ')

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [64]:
for i in range(1, 15, 2):
    print((i * ' * ').center(45, '_'))

_____________________ * _____________________
__________________ *  *  * __________________
_______________ *  *  *  *  * _______________
____________ *  *  *  *  *  *  * ____________
_________ *  *  *  *  *  *  *  *  * _________
______ *  *  *  *  *  *  *  *  *  *  * ______
___ *  *  *  *  *  *  *  *  *  *  *  *  * ___

In [19]:
for i in range(1, 15, 2):
    print((i * ' * ').center(45))

                      *
                   *  *  *
                *  *  *  *  *
             *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *
       *  *  *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *  *  *  *

In [35]:
for i in range(1,15,1):
    if(i==1 or i==5 or i==9 or i==13):
        print((i* ' * ').center(45, '-'))
    if(i==3 or i==7 or i==11):
           print((i* ' O ').center(45, '-'))

--------------------- * ---------------------
------------------ O  O  O ------------------
--------------- *  *  *  *  * ---------------
------------ O  O  O  O  O  O  O ------------
--------- *  *  *  *  *  *  *  *  * ---------
------ O  O  O  O  O  O  O  O  O  O  O ------
--- *  *  *  *  *  *  *  *  *  *  *  *  * ---