In [1]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [1]:
# nested tuple
my_tuple = ("mouse", [8, 4, 6],(1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
# a tuple can also be created  without using parentheses
#

In [2]:
# Accessing tuple element using indexing
my_tuple =('p','e','r','m','i','t')
print(my_tuple[0])  #'p' 
print(my_tuple[5])   # 't'

p
t

In [3]:
# nested tuple
n_tuple = ("mouse", [8,4,6],[1,2,3])
# nested index for
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [4]:
# Accessing tuple element using slicing function
my_tuple =('e','x','c','a','l','i','b','u','r')

In [5]:
#elelment 2nd to 4th
# output : ('x','c','a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [6]:
print(my_tuple[:-7])

('e', 'x')

In [7]:
print(my_tuple[7:])

('u', 'r')

In [8]:
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [9]:
print((1,2,3)+(4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [10]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [13]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

### SET

In [14]:
# set of integers
my_set ={1, 2, 3}
print(my_set)

{1, 2, 3}

In [15]:
# set cannot have duplicate
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [1]:
#error set
#my_set ={1,2,[3,4]} set cannot have mutable items
# here [3,4] is mutable list
#
#print(my_set)

### set union

In [3]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [4]:
# use / operater

print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
# use union function A
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:

print(A&B)

{4, 5}

In [8]:
# difference OF A
print(A - B)

{1, 2, 3}

In [9]:
# difference of B
print(B - A)

{8, 6, 7}

### set symmetric difference

In [10]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [11]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [4]:
# create 2 set of electric devices and perform set operation on them
set1 = {'telephone','computer','tablet'}
set2 = {'cpu','mouse', 'tv'}

In [14]:
print(set1)
print(set2)

{'tablet', 'computer', 'telephone'}
{'mouse', 'cpu', 'tv'}

In [15]:
print(set1|set2)

{'tablet', 'telephone', 'mouse', 'cpu', 'computer', 'tv'}

In [20]:
print(set1 & set2)

set()

In [18]:
set1.union(set2)

{'computer', 'cpu', 'mouse', 'tablet', 'telephone', 'tv'}

In [19]:
set2.union(set1)

{'computer', 'cpu', 'mouse', 'tablet', 'telephone', 'tv'}

In [22]:
print(set1^set2)

{'tablet', 'cpu', 'computer', 'telephone', 'mouse', 'tv'}

In [23]:
print(set1-set2)

{'tablet', 'computer', 'telephone'}

In [24]:
print(set2-set1)

{'mouse', 'cpu', 'tv'}

In [8]:
print(set2-set1)

{'mouse', 'cpu', 'tv'}